{% extends 'base.html.twig' %}

{% block title %}New WpUser{% endblock %}

{% block body %}
    <h1>Create new WpUser</h1>

    {{ include('wp_user/_form.html.twig') }}

    <a href="{{ path('app_wp_user_index') }}">back to list</a>
{% endblock %}
